/* MENU E BACKGROUND */
html{
    font-family: sans-serif;
}

body {
    background: linear-gradient(rgb(16, 16, 16, 0.5), rgb(25, 25, 25, 0.5)), url(../assets/background-image.jpg);
    background-position: center center;
    background-size: cover;
    background-position-y: 0px;
    width: 100%;
    margin: 0;
}
.menu-navigation{
    display: flex;
    text-decoration: none;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(to right, red, blue,red);
    height: 5vw;
}
.menu-navigation img{
    width: 60px;
    height: 60px;
}
.menu-navigation li{
    display: inline;
    padding: 20px;
    position: relative;
}
.menu-navigation a{
    text-align: center;
    color: white;
    text-decoration: none;
}
.menu-navigation a::before{
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 0px;
    height: 2px;
    background-color: rgb(250, 0, 0);
    transition: all 1s ease;
}
.menu-navigation a:hover:before{
    width: 100%;
    background-color: #ff2600;
}
.main-content p {
    display: inline;
}

/* MAIN */
.main-content{
    display: flex;
    width: 100vw;
    height: 90vh;
    align-items: center;
    justify-content: space-around;

}
.main-card-tabela{
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 600px;
    border-radius: 20px;
    position: relative;
    border: 5px solid #0c49a5;
    background-color: rgb(231, 227, 227);
}
.main-card-tabela-titulo{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.main-content-tabela::-webkit-scrollbar{
    display: none;
}
.main-content-tabela{
    overflow: hidden;
    overflow-y: scroll;
}
.main-card-tabela h1{
    text-align: center;
    margin-bottom: 15px;
}
.main-card-next{
    width: 600px;
    height: 600px;
    background-color: beige;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-size: large;
}
table img{
    height: 15%;
    width: 15%;
}
th, td {
    border: 2px solid #202020;
    padding: 8px;
    text-align: center;
}
th {
    background-color: #f2f2f2;
}
tr{
    background-color: var(--cor-libertadores);
}
tr:hover {
    background-color: #f5f5f5;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background: linear-gradient(to right, blue,red);
    margin: 0 auto;
    margin-bottom: 0;
    padding: 20px;
}

.footer-form, .footer-contact {
    flex: 1;
    margin: 0 100px;
}

.footer-form h3, .footer-contact h3 {
    margin-bottom: 10px;
}

.footer-form form {
    display: flex;
    flex-direction: column;
}

.footer-form label {
    margin-bottom: 5px;
    color: white;
}

.footer-form input {
    margin-bottom: 10px;
    padding: 5px;
    font-size: 1.4rem;
}

.footer-form button {
    padding: 10px;
    font-size: 1.6rem;
    background: linear-gradient(to right, red,blue);
    border: none;
    cursor: pointer;
}
.footer-contact p {
    margin-bottom: 10px;
}
.footer-contact{
    color:white
}

